@use './styles/theme';

// Update existing styles to use CSS variables
body {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.app-container {
  min-height: 100vh;
  // background-color: #020212;

  .main-content {
    margin-left: 250px;
    margin-top: 60px;
    padding: 2rem;
    width: calc(100% - 250px);
    box-sizing: border-box;
  }
} 